extends layout

block content
  strong Import Availability
  br
  br
  
  form(method="POST" action="/schedule/generate")
    input(type="text" name="parent" placeholder="Parent ID" style="width: 400px;" value=prefill)
    br
    button(type="submit" style="margin-top: 0.5em;") Generate
